/.env
/.env.*
!/.env.example
/vendor/
/node_modules/
/public/build/
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/framework/*.sqlite
/storage/framework/*.log
/storage/framework/edge-*/
/storage/framework/wave*/
/playnexus
/.phpunit.cache/
/.phpunit.result.cache
/.pest-cache/
/.idea/
/.vscode/
**/__pycache__/
*.pyc
/deliverables/
/.codex/
